$theme-colors: ("primary": #262626, "secondary": #141414, "success": #28a745, "danger": #dc3545)

.alert 
  border: 0 !important
  color: #141414 !important

.alert-success 
  background-color: #95eab8   !important

.alert-danger 
  background-color: #ff7a7a   !important

.alert-info 
  background-color: #94b3d1    !important